# Credenciais de acesso ao WebService SasIntegra da Sascar/Michelin ConnectedFleet.
# Obtenha suas credenciais com o suporte da Sascar:
#   https://connectedfleet.michelin.com/
SASCAR_USUARIO=seu_usuario_aqui
SASCAR_SENHA=sua_senha_aqui
